DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS="0.0.0.0,localhost"
BACKEND_TEST_DB_HOST="localhost"
BACKEND_DB_HOST="backend-db"
BACKEND_DB_USER="greenhouse"
BACKEND_DB_PASSWORD="greenhouse_pass"
BACKEND_DB_NAME="greenhouse"
BACKEND_SUPERUSER_USERNAME="admin-greenhouse"
BACKEND_SUPERUSER_EMAIL="your-email@example.com"
BACKEND_SUPERUSER_PASSWORD="your-password"
CORS_ALLOWED_ORIGINS="http://localhost:5173"
CSRF_COOKIE_SECURE=False
CSRF_TRUSTED_ORIGINS="http://localhost:5173"
